$lh110: 110%;
$fontBlack: #1e1d1b;
.main {
}
.mainframe {
  height: 100vh;
  min-height: 900px;
  &__content {
    padding: 27px 0 0 0;
  }
  &__img {
    min-height: 900px;
  }
  &__video {
    max-height: 500px;
    max-width: 900px;
    border-radius: 20px;
  }
  &__titleBody {
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #65909d;
    background: #fdfdfd;
    margin: 0 auto;
  }
  &__title {
    color: $fontBlack;
    font-size: 97px;
    line-height: 110.124%;
    font-weight: 800;
  }
  &__subtitleContainer {
    margin: 25px 0 0 0;
  }
  &__subtitleBody {
    padding: 14px 18px;
    border-radius: 5px;
    background: #b5bfc6;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
    max-width: 750px;
    width: 100%;
    height: 182px;
    opacity: 0;
    transition: 0.9s;
  }
  &__subtitle_active {
    opacity: 1;
  }
  &__subtitle {
    color: $fontBlack;
    font-size: 35px;
    line-height: 110%;
  }
}

.frame2 {
  min-height: 900px;
  &__item {
    max-width: 630px;
    color: $fontBlack;
    font-size: 21px;
    line-height: $lh110;
    opacity: 0;
    transition: 1s ease-in-out;
    &__active {
      opacity: 1;
    }
    &:not(:first-child) {
      margin: 25px 0 0 0;
    }
    &:nth-child(1) {
      transform: translateX(-130px);
    }
    &:nth-child(2) {
      transform: translateX(-30px);
    }
    &:nth-child(3) {
      transform: translateX(60px);
    }
    &:last-child {
      transform: translateX(160px);
    }
  }
  &__title {
    &:nth-child(2) {
      transform: translateX(15px);
    }
    &:nth-child(3) {
      transform: translateX(30px);
    }
  }
  &__divider {
    margin: 25px auto 0 auto;
    width: 80%;
    height: 4px;
    filter: blur(2px);
    background: #adadad;
    border-radius: 30px;
    animation-name: dividerAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  &__videoContainer {
    right: -154px;
    top: -310px;
    width: 39.5%;
    height: 135%;
    transform: rotate(-213.2deg);
    overflow: hidden;
  }
  &__sideVideo {
    transform: rotate(-146.5deg);
    width: 100%;
    min-width: 1080px;
    height: 100%;
    object-fit: cover;
  }
  &__videoContainer2 {
    left: 20px;
    top: -49px;
    width: 41.5%;
    overflow: hidden;
    transform: rotate(-33.3deg);
  }
  &__sideVideo2 {
    width: 100%;
    min-width: 1080px;
    height: 100%;
    transform: rotate(33.5deg);
    object-fit: cover;
  }
  &__shadowLeft {
    position: absolute;
    left: 32.8%;
    top: -100px;
    height: 120%;
    width: 4px;
    z-index: 1000;
    background: transparent;
    transform: rotate(-33.3deg);
    box-shadow: -29px 0px 26px 2px rgba(0, 0, 0, 1);
  }
}
.frame3 {
  min-height: 900px;
  &__container {
    padding: 96px 0;
  }
  &__video {
    position: relative;
    z-index: 20;
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
  &__videobg {
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__titles {
    height: 100px;
    background: #fff;
    box-shadow: -5px -5px 25px 0px rgba(0, 0, 0, 0.35);
    padding: 15px 0px;
    max-width: 674px;
  }
  &__title {
    font-size: 30px;
    line-height: 110%;
    text-align: center;
    color: $fontBlack;
  }
  &__list {
    margin: 200px 0 0 0px;
    text-align: center;
    font-size: 40px;
    line-height: 110%;
    color: $fontBlack;
  }
  &__item {
    opacity: 0;
    transform: translateX(100%);
    transition: 0.5s;
    &__active {
      opacity: 1;
      transform: translateX(0%);
    }
    &:first-child {
      margin: 0 0 0 30%;
    }
    &:nth-child(2) {
      margin: 45px 0 0 0;
    }
    &:nth-child(3) {
      margin: 45px 0 0 -20%;
    }
    &:last-child {
      margin: 45px 0 0 -40%;
    }
  }
}
.frame4 {
  min-height: 900px;
}
@keyframes dividerAnimation {
  50% {
    background: #686868;
    filter: blur(1px);
  }
  100% {
    background: #adadad;
    filter: blur(2px);
  }
}
