$lh110: 110%;
.main {
}
.mainframe {
  height: 100vh;
  min-height: 900px;
  &__content {
    padding: 27px 0 0 0;
  }
  &__img {
    min-height: 900px;
  }
  &__imgBody {
  }
  &__video {
    max-height: 500px;
    max-width: 900px;
    margin: 25px 0 0 0;
    border-radius: 20px;
  }
  &__titleBody {
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #65909d;
    background: #fdfdfd;
    margin: 0 auto;
  }
  &__title {
    color: #444546;
    font-size: 97px;
    line-height: 110.124%;
  }
  &__subtitleContainer {
    margin: 25px 0 0 0;
  }
  &__subtitleBody {
    padding: 14px 18px;
    border-radius: 5px;
    background: #b5bfc6;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
    max-width: 750px;
    width: 100%;
    height: 182px;
    opacity: 0;
    transition: 0.9s;
  }
  &__subtitle_active {
    opacity: 1;
  }
  &__subtitle {
    color: #181717;
    font-size: 35px;
    line-height: 110%;
  }
}

.frame2 {
  height: 100vh;
  min-height: 900px;
  &__item {
    max-width: 630px;
    color: #1e1d1b;
    font-size: 20px;
    line-height: $lh110;
    &:not(:first-child) {
      margin: 25px 0 0 0;
    }
    &:nth-child(1) {
      transform: translateX(-130px);
    }
    &:nth-child(2) {
      transform: translateX(-30px);
    }
    &:nth-child(3) {
      transform: translateX(60px);
    }
    &:last-child {
      transform: translateX(160px);
    }
  }
  &__title {
    &:nth-child(2) {
      transform: translateX(15px);
    }
    &:nth-child(3) {
      transform: translateX(30px);
    }
  }
  &__img {
    margin: 25px auto 0 auto;
  }
  &__videoContainer {
    right: -154px;
    top: -310px;
    width: 39.5%;
    height: 135%;
    transform: rotate(-213.2deg);
    overflow: hidden;
  }
  &__sideVideo {
    transform: rotate(-146.5deg);
    width: 100%;
    min-width: 1080px;
    height: 100%;
    object-fit: cover;
  }
  &__videoContainer2 {
    left: 20px;
    top: -92px;
    width: 41.5%;
    overflow: hidden;
    transform: rotate(-33.3deg);
  }
  &__sideVideo2 {
    width: 100%;
    min-width: 1080px;
    height: 100%;
    transform: rotate(33.5deg);
    object-fit: cover;
  }
}
